#panel {
    margin: 0;
    padding: 0;
}

#panel-left {
    border-right: 1px #ddd solid;
    height: 100vh;
    width: 200px;
    float: left;
    background: rgb(252, 252, 253);
}

#panel-header {
    margin: 0;
    padding: 0;
}

#panel-main {
    height: calc(100vh - 42px);
    width: calc(100vw - 200px);
    margin: 0;
    padding: 0;
}

.filter-tree {
    font-size: 24px;
}

.filter-tree {
    background: rgb(252, 252, 253) !important;
}

.filter-tree span {
    font-size: 16px !important;
}

.filter-tree .el-tree-node__expand-icon {
    font-size: 18px !important;
}

.menu {
    padding: 10px 0 !important;
}

.menu .menu-button {
    display: block;
    padding: 5px 10px;
    font-size: 16px;
    color: #606266;
    cursor: pointer;
}

.menu .menu-button:hover {
    background-color: #ecf5ff;
    color: #66b1ff;
}


#panel-add-menu {
    position: absolute;
    z-index: 888;
}

.box-card {
    width: 200px;
    height: 40px;
    margin: 0 0 0 2px !important;
    padding: 0 !important;
}

#panel-header .el-tabs__content {
    margin: 0;
    padding: 0;
    width: calc(100vw - 200px);
}

#panel-header .el-tabs--border-card > .el-tabs__header .el-tabs__item.is-active {
    color: black !important;
}

#panel-header .el-tabs--border-card > .el-tabs__header .el-tabs__item:hover {
    color: #909399;
}

#panel-header .el-tabs--border-card {
    box-shadow: none !important;
}

#panel-setting {
    display: inline-block;
    float: right;
    height: 38px;
    width: 50px;
    background: #F5F7FA;
    border-bottom: 1px solid #E4E7ED;
    cursor: pointer;
}

#panel-setting .el-icon-setting {
    height: 40px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #65686e
}

#panel-header-menu {
    width: calc(100vw - 250px);
    display: inline-block;
    height: 38px;
    position: absolute;
    background: #F5F7FA;
    border: 0 !important;
    border-bottom: 1px #E4E7ED solid !important;
}

#panel-commands-drawer .el-drawer__header {
    margin-bottom: 0 !important;
}

#panel-commands-drawer .el-drawer__header span {
    font-size: 16px;
}

.el-drawer:focus {
    outline: 0;
}